@using SimchaSite.data;
@model ContributerViewModel

<div class="container">
    <main role="main" class="pb-3" style="margin-top: 60px;">
        <div>
            <h1>Contributors</h1>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-outline-info" id="new-contributor">New Contributor</button>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control-sm" placeholder="Search" id="search" />
                <button class="btn btn-outline-info" id="clear">Clear</button>
            </div>
            <div class="col-md-4">
                <h3>@Model.TotalAmount</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Deposit</th>
                        <th>Name</th>
                        <th>Cell</th>
                        <th>Balance</th>
                        <th>Always Include</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contributer c in Model.Contributers)
                    {
                        <tr>
                            <td><button class="btn btn-outline-success deposit-button" data-contributerid="@c.Id" data-contributername="@c.FirstName @c.LastName">Deposit</button></td>
                            <td>@c.FirstName @c.LastName</td>
                            <td>@c.Cell</td>
                            <td>@c.Balance</td>
                            <td style="text-align: center;">
                                @if (c.AlwaysInclude)
                                {
                                    <span style="font-size: 25px;" class="oi oi-check"></span>
                                }


                            </td>
                            <td>
                                <a href="/contributers/History?contributerId=@c.Id" class="btn btn-outline-success">Show History</a>
                                <button data-first-name="@c.FirstName" data-last-name="@c.LastName" data-contributerid="@c.Id"
                                        data-cell="@c.Cell" data-id="@c.Id" data-always-include="@c.AlwaysInclude" data-date="@c.CreatedDate.ToString("yyyy-MM-dd")"
                                        class="btn btn-outline-success edit-contributer">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="modal fade new-contrib" tabindex="-1" role="dialog" id="addModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Contributor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="add-contributor" method="POST" action="/Contributers/NewContributer">
                            <input type="hidden" id="contributor-id" name="contributerId"/>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>First Name</label>
                                        <input class="form-control" id="contributor_first_name" name="firstName" placeholder="First Name" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Last Name</label>
                                        <input class="form-control" id="contributor_last_name" name="lastName" placeholder="Last Name" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Cell Number</label>
                                        <input class="form-control" id="contributor_cell_number" name="cellNumber" placeholder="Cell Number" type="text">
                                    </div>
                                    <div class="form-group col-md-6" id="initialDepositDiv">
                                        <label>Initial Deposit</label>
                                        <input type="text" class="form-control" name="initialDeposit" placeholder="Initial Deposit">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Created Date</label>
                                        <input class="form-control" id="contributor_created_at" name="createdDate" placeholder="Date" type="date">
                                    </div>
                                    <div>
                                        <div class="form-check mt-3 ml-3">
                                            <input type="checkbox" class="form-check-input" id="contributor_always_include" name="alwaysInclude" value="true">
                                            <label class="form-check-label" for="contributor_always_include">Always Include</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="modal fade deposit" tabindex="-1" role="dialog" id="depositModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Deposit for <span id="deposit-name"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="/contributers/deposit">
                            <input type="hidden" name="contributerId" id="hiddenId" />
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input class="form-control" name="amount" placeholder="Deposit Amount" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" name="date" class="form-control" id="datepicker">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input class="btn btn-primary" name="commit" id="save-btn" type="submit" value="Save">
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


        </div>
    </main>
</div>
@section Scripts{
    <script src="~/js/AddContributer.js"></script>
    <script src="~/js/Deposit.js"></script>
    <script src="~/js/Edit.js"></script>
}


